In [ ]:
# 사용자로부터 세 개의 숫자를 입력 받은 후 가장 작은 숫자가 홀수인지 짝수인지 출력하세요.

In [ ]:
# 사용자로부터 2 ~ 9 사이의 숫자를 입력 받은 후, 해당 숫자에 대한 구구단을 출력하세요.

In [ ]:
# 사용자로부터 숫자를 N을 입력받은 후 1부터 N까지의 숫자 중 3의 배수만 출력하세요.

In [ ]:
# 아래 코드를 변형하여 다음 모양을 출력하라
#     *
#    **
#   ***
#  ****
# *****
for i in range(5):
    for j in range(5):
        print("*", end="")
    print()

In [ ]:
# 사용자로부터 입력받은 문장에 금지어가 들어있는지를 확인하라.
금지어 = ['볼드모트', '이숙번', '강두루', '이고잉']

In [ ]:
# 1부터 N까지의 연속된 숫자중 1개의 숫자만 중복이 되어있는 (N + 1)개의 숫자가 있다. 
# 중복된 숫자를 찾는 함수를 만들어보자 

def find_duplicated_num(nums):
    return 0

import random
n = 10
numbers = list(range(1, 10)) 
numbers.append(random.randint(1, 10))
print(numbers)

print(find_duplicated_num(numbers))

In [ ]:
# palindrome
# 순서대로 읽어도 거꾸로 읽어도 동일한 문자열을 체크하는 함수
def palindrome(source):
    return False

print(palindrome("abcddcba"))

In [ ]:
# Mr, Mrs, Master, Miss가 각각 몇번씩 나왔는지 빈도수를 출력해보자
dataset = ['Braund, Mr. Owen Harris',
'Cumings, Mrs. John Bradley (Florence Briggs Thayer)',
'Heikkinen, Miss. Laina',
'Futrelle, Mrs. Jacques Heath (Lily May Peel)',
'Allen, Mr. William Henry',
'Moran, Mr. James',
'McCarthy, Mr. Timothy J',
'Palsson, Master. Gosta Leonard',
'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)',
'Nasser, Mrs. Nicholas (Adele Achem)',
'Sandstrom, Miss. Marguerite Rut',
'Bonnell, Miss. Elizabeth',
'Saundercock, Mr. William Henry',
'Andersson, Mr. Anders Johan',
'Vestrom, Miss. Hulda Amanda Adolfina',
'Hewlett, Mrs. (Mary D Kingcome) ',
'Rice, Master. Eugene',
'Williams, Mr. Charles Eugene',
'Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)',
'Masselmani, Mrs. Fatima',
'Fynney, Mr. Joseph J',
'Beesley, Mr. Lawrence',
'McGowan, Miss. Anna "Annie"',
'Sloper, Mr. William Thompson',
'Palsson, Miss. Torborg Danira',
'Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)',
'Emir, Mr. Farred Chehab',
'Fortune, Mr. Charles Alexander',
'Dwyer, Miss. Ellen "Nellie"',
'Todoroff, Mr. Lalio']

In [ ]:
# 주민등록번호를 입력받아 올바른 주민번호인지 검증하라.
# 주민번호 : ① ② ③ ④ ⑤ ⑥ - ⑦ ⑧ ⑨ ⑩ ⑪ ⑫ ⑬
# 합계 
# = 마지막수를 제외한 12자리의 숫자에 2,3,4,5,6,7,8,9,2,3,4,5 를 순서대로 곱산수의 합
# = ①×2 + ②×3 + ③×4 + ④×5 + ⑤×6 + ⑥×7 + ⑦×8 + ⑧×9 + ⑨×2 + ⑩×3 + ⑪×4 + ⑫×5
# 나머지 = 합계를 11로 나눈 나머지
# 검증코드 = 11 - 나머지
# 여기서 검증코드가 ⑬자리에 들어 갑니다.

def verify_jumin(serial):
    return False

verify_jumin('101010-2020200')

In [ ]:
ratings = {
     '이숙번': {'1917': 5, '엽문4': 2, '라라랜드': 3, '주디': 5},
     '강두루': {'1917': 4, '라라랜드': 3, '신과나': 5},
     '이고잉': {'라라랜드': 4, '엽문4': 4, '주디': 1},
     '정원혁': {'엽문':3, '신과나': 5, '1917': 4, '주디': 2}
}

# 영화를 평균평점순으로 정렬
def pivot_by_movies(ratings):
    return []

movies = pivot_by_movies(ratings)
sorted(movies)

# 이숙번과 취향이 가장 비슷한 사람을 찾아라.
def diff(user1, user2):
    return 0

print(diff(ratings['이숙번'], ratings['강두루']))
print(diff(ratings['이숙번'], ratings['이고잉']))
print(diff(ratings['이숙번'], ratings['정원혁']))

In [ ]:
# 다음 뉴스 경제란 뉴스 타이틀 추출하기

In [ ]:
# 네이버 실시간검색어 추출하기

In [12]:
min([1, 2, 3, 4])

1